<h1>Student Form</h1>

<%= form_for(Student.new) do |fb| %>
    <%= fb.label :first_name %>
    <%= fb.text_field :first_name %>

    <%= fb.label :last_name %>
    <%= fb.text_field :last_name %>

    <%= fb.submit "Create Student" %>
<% end %>