<h1>Student Form</h1>

<%= form_for @student do |s| %>
    <%= s.label "students first name" %><br>
    <%= s.text_field :first_name %><br>

    <%= s.label "Students last name" %><br>
    <%= s.text_field :last_name %><br>
    <%= s.submit "Create Student" %>
<% end %>